<h2>Create</h2>

<div class="form-horizontal">
    <h4>Team</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2">Team Name</label>
        <div class="col-md-10">
            <input class="form-control" ng-model="Team.TeamName" ng-required/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Team Type</label>
        <div class="col-md-10">
            <select class="form-control" 
                    ng-init="Team.TeamType = TeamTypeList[0].Id" 
                    ng-options="item.Id as item.Label for item in TeamTypeList" ng-model="Team.TeamType"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nation</label>
        <div class="col-md-10">
            <select class="form-control" 
                    ng-init="Team.NationId = NationList[id].NationId" 
                    ng-options="item.NationId as (item.NationName + ' - ' + item.ContinentString) for item in NationList" ng-model="Team.NationId"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</div>

<a href="#/Team" class="btn btn-default">
    <i class="fa fa-arrow-left"></i>
</a>