<div ng-app="teamManageModule">
    <message success-message="Messages.SuccessMessage"
             warning-message="Messages.WarningMessage"
             error-message="Messages.ErrorMessage"></message>
    <div ng-view></div>
</div>

