<div ng-show="successMessage.length > 0" class="alert alert-success">
    {{successMessage}}
</div>

<div ng-show="warningMessage.length > 0" class="alert alert-warning">
    {{warningMessage}}
</div>

<div ng-show="errorMessage.length > 0" class="alert alert-danger">
    {{errorMessage}}
</div>

