@using FootballManager.Domain
@using FootballManager.Web.Extensions
@model IEnumerable<FootballManager.Domain.Team>

@{
    ViewBag.Title = "Team List";
}

<h2>Team List</h2>

<p>
    <button type="button" class="btn btn-info btn-modal" data-toggle="modal" data-target="#standardModal" data-url="@Url.Action("Create")">
        Create New
    </button>
</p>

<div class="form-horizontal">
    <div class="form-group">
        @*<label class="control-label col-md-2">Filters:</label>*@
        <div class="btn-group pull-right">
            @Html.AjaxButton("Nation", new AjaxButtonOptions
            {
               Url = Url.Action("Filter", new { type = TeamType.Nation }),
               Method = "GET",
               CssClass = "btn-primary",
               TargetId = "teamList"
            }, new { @data_test = "test" })
            <button class="btn btn-success ajax-button" type="button" data-url="@Url.Action("Filter", new {type = TeamType.Club})" data-target-id="teamList" data-method="GET">
                Club
            </button>
        </div>
    </div>
</div>
<div id="teamList" class="row">
    @Html.Partial("_TeamList", Model)
</div>

